@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&family=Raleway:wght@300&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Noto Serif Display', serif;
	font-size: 22px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}